@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Permanent+Marker&display=swap');

html{
    font-family:'Jost', sans-serif;
}
h1{
    
    color: tomato;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}
.menu{
    color: rgb(29, 29, 82);
}

img{
    width: 20rem;
    height: 20rem;
}
.logo_image{
    width: 100%;
    height: 4rem;
    margin: 1rem;
}
.header{
    background-color: rgb(248, 215, 215);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_button{
    width: 6rem;
    height: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    background-color: white;
    border: none;
    color: white;
    background-color: tomato;
}
.menu_container{
    display: none;
    position: absolute;
    box-shadow: 0 0 4px 4px rgb(145, 44, 13);
    z-index: 2;
}
.menu_container a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
  }
.menu:hover .menu_container {
    display: block;
    background-color: white;
    color: black;
 }
 .menu_container a:hover {
    background-color: #e2562b
    
}
.categories_section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    height: 150vh;
    z-index: 1;
}

.category_image{
    width: 100%;;
    height: 60%;
    opacity: 50%;

}
.category_name{
    background-color: black;
    color: white;
    font-size: 3rem;
    font-style: bold;
    
}
.category_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.category_section:hover{
    opacity: 100%;
}

h2{
    font-size: 2rem;
    
}

.shoes{
    background-image: url("https://media.istockphoto.com/photos/young-man-shopping-shoes-picture-id1292261872?b=1&k=20&m=1292261872&s=170667a&w=0&h=AA5F-5LPlJJjqpUqB5UjCuYhk5YnNEEcEAqa5Ya4lEA=");
    background-size: cover; 
    width: 100%;;
    height: 100%;
    opacity: 50%;
    
}
.formals{
    background-image: url("https://ae01.alicdn.com/kf/S0eef695b02304961b91debeca980917b9/Brand-White-Formal-Shirt-Men-s-Business-Solid-Color-Dress-Shirts-Casual-Men-Long-Sleeve-Office.jpg_Q90.jpg_.webp");
    background-size: cover; 
    width: 100%;;
    height: 100%;
    opacity: 50%;
    
}
.casuals{
    background-image: url("https://ae01.alicdn.com/kf/HTB1YUG_HFXXXXbEXVXXq6xXFXXXx/221544189/HTB1YUG_HFXXXXbEXVXXq6xXFXXXx.jpg?size=167643&height=750&width=800&hash=bd49faf085015ab6ea0e19a07538fe77");
    background-size: cover;
    width: 100%;;
    height: 100%;
    opacity: 50%; 
}
.watches{
   background-image: url("https://images.pexels.com/photos/236915/pexels-photo-236915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    grid-column: 1 /span 4;
    width: 100%;;
    height: 100%;
    opacity: 50%;
}
.hats{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuPWDbLkj2qQm4vkFYnOAOZn9nzmG1ucXCJw&usqp=CAU");
    background-size: cover; 
    width: 100%;;
    height: 100%;
    opacity: 50%;
}
.tie{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4KNECIutmKs85cFdRQw6RxAzZg05lIn0kVg&usqp=CAU");
    background-size: cover; 
    width: 100%;;
    height: 100%;
    opacity: 50%;
    
}
.sunglasses{
    background-image: url("https://d31g6oeq0bzej7.cloudfront.net/Assets/image/jpeg/6a3d67d6-074b-4edf-8042-4aca927c3605.jpg");
    background-size: cover; 
    width: 100%;;
    height: 100%;
    opacity: 50%;
}

.featured_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    
    z-index: 1;
    gap: 1rem;
}

.featured{
    box-shadow: 0 0 4px 4px rgb(125, 126, 126);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(35, 61, 78);
    border-radius: 1rem;
    border: 2px solid black;
}
.featured > img{
    border-radius: 1rem;
}

.featured > div> button{
    border-radius: 0.5rem;
    color: black;
    padding: 2px;
    background-color: white;
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    margin: 1rem;
}
.featured > div > button:hover{
    cursor: pointer;
    background-color: rgb(245, 235, 217);
    color: black;
    box-shadow: 0 0 4px 4px rgb(125, 126, 126);
}
.featured > span{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.featured > h3{
    color: white;
}
.featured > div> i{
    color: white;
    font-size: 2rem;
    margin-left: 3rem;
    cursor: pointer;
    top: 2rem;
    right: 2rem;
    
}
